<%= render partial: "/partials/navbar" %>

<%= link_to "Edit Profile", edit_user_path, method: :get %>

<h1>Welcome <%= current_user.username %></h1>

<section class="user-roles">

</section>

<section class="about-me">

</section>

<section class="my-skills">

</section>

<section class="pieces-contributed-to">

</section>
