<%= render partial: "/partials/navbar" %>

<h1>Welcome <%= @current_user.username %></h1>

<section class="user-roles">

</section>

<section class="about-me">

</section>

<section class="my-skills">

</section>

<section class="pieces-contributed-to">

</section>
