<%= render partial: "/partials/navbar" %>

<%= link_to "Edit Profile", edit_user_path, method: :get %>

<h1>Welcome <%= current_user.username %></h1>

<section class="user-roles">

</section>

<section class="about-me">

</section>

<% if current_user.skills.size > 0 %>
<section class="my-skills">
  <h3>My Skills:</h3>
  <ul>
    <% current_user.skills.each do |skill| %>
    <li><%= skill.skill %></li>
    <% end %>
  </ul>
</section>
<% else %>
 <section class='my-skills'>
  <p>You currently have no skills</p>
 </section> 
<% end %>
<section class="pieces-contributed-to">

</section>
