<%= render partial: "/partials/navbar" %>
<main>
  <section class="welcome-main">
    <header class="landing page">
      <h1 class="welcome-main_header"><span class="head">Practice</span><span class="tail">Hacker</span></h1>
    </header>

    <% if current_user.nil? %>
      <%= link_to 'Login With Google', '/auth/google_oauth2', class: 'btn btn-info' %>
    <% end %>
  </section>

  <section class="welcome-content">
    <div class ="welcome-main_content">
      <p>Hack your practice routine with Practice Hacker!</p>
      <p>Search for the piece you are working on, and browse through user contributed tips for each piece.</p>
      <p>Our users are able to share their experience and knowledge by offering advice on mastering parts they found difficult.</p>
      <p>You can share anything from etudes to different fingerings to try.</p>
      <p>What worked for you may just work for someone else!</p>
    </div>
  </section>
</main>
