
<main class="welcome-main d-flex justify-content-center">
  <section>
    <h1 class="welcome-main_header">Practice Hacker</h1>
    <p class ="welcome-main_content">
      This is a classical music app.
    </p>
    <%= link_to 'Login With Google', '/auth/google_oauth2', class: 'btn btn-outline-info' %>
  </section>
</main>
