section.pieces.fav{
  margin-top: 6rem;
  .piece-item{
    display: flex;
    justify-content: space-between;
    .title{
      a{
        color: #2E2F30;
        text-decoration: underline;
      }
    }
    .btn-piece{
      width: 15rem;
      border-radius: 0;
      border: 1px solid #ced4da;
      &:hover{
        background-color: #343a40;
        color: #F7F7F7;
        transition: ease-in-out;
      }
    }
  }
}

section.header.fav{
  background-image: url("https://f000.backblazeb2.com/file/PracticeHacker/dan-gold-YW9cBl03LmE-unsplash.jpg");
  background-position: center;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  h3{
    text-transform: uppercase;
    font-weight: 500;
    color: #F7F7F7;
    position: relative;
    z-index: 33;
    letter-spacing: 3px;
  }

  &::before{
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: transparentize(#2E2F30, .3);
  }

}