footer.footer{
  background-color: #2E2F30;
  padding: 2rem;
  .container{
    text-align: center;
    a{
      color: #F7F7F7;
      text-decoration: underline;
    }
    p{
      margin-bottom: 0;
      color: #F7F7F7;
      span{
        letter-spacing: 2px;
      }
    }
  }
}