body{
  background-color: transparentize(#dadada, .2);
  font-family: $text_font_family;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  section.welcome-main{
    padding: 6rem 0;
    background-image: url("https://f000.backblazeb2.com/file/PracticeHacker/arindam-mahanta-VEOk8qUl9DU-unsplash.jpg");
    background-position: center bottom;
    header{
      img.landing-logo{
        width: 25vw;
        background: transparentize(#F7F7F7, .1);
      }
    }
    .landing-page_content{
      width: 40vw;
      margin: 2rem auto 0;
      background:transparentize(#F7F7F7, .1);
      padding: 2rem;
      line-height: 2rem;
      font-size: 1.2rem;
    }
  }
  section.welcome-content{
    padding: 5rem;
  }
}