<%= render partial: "/partials/navbar" %>
<section class='pieces'>
<% current_user.favorite_pieces.each do |favorite_piece| %>
  <section class='title'>
    <%= link_to favorite_piece.piece.title, piece_path(favorite_piece.piece.id) %>
  </section>

  <section class='composer'>
    <%= favorite_piece.piece.composer %>
  </section>

  <section class='contributions'>

  </section>
<% end %>
</section>
