<%= render partial: "/partials/navbar" %>
<section class='pieces'>
<% current_user.favorite_pieces.each do |pieces| %>
  <section class='titles'>

  </section>

  <section class='composers'>

  </section>

  <section class='contributions'>

  </section>
<% end %>
</section>
